{% extends 'base.html.twig' %}


{% block javascripts %}

            <!-- Template Main JS File -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> #}
{# <script src="{{ asset('assets/js/jquery.js') }}"></script> #}
{# <link href="../../web/css/bootstrap.min.css" rel="stylesheet"> #}

<script src="{{ asset('assets/js/reservation.js') }}"></script>
        
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block body %}



<div class="row" style=" margin-left:40px;margin-top: -200px;">

    <div class="col-lg-6">

        <div class="card"  style=" width:1600px;align-items: center;justify-content: center; top: 50%;transform: perspective(1px) translateY(-17%);">
            <div class="card-body"> 
                <a href="{{ path('index') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h5 class="card-title">Liste des Salles de cours</h5>

                <!-- Table with stripped rows -->
                <div style="width:1600px;display: flex; justify-content:left;">
            
		<table class="table table-bordered"  border="1" width: "10%"  >
                    <thead>
                    <tr align="center"> 
                        <th>ID</th>
                        <th>N° Salle</th>
                        <th>Batiment</th>
                        <th>Capacité</th>
                        <th>Période</th>
                         <th>Etat</th>
                        <th>Action</th>
                        <th>Localiser</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for salleReserver in reserver %}
                    {% for periode1 in b1 %}
                    {% for periode2 in b2 %}
                    {% for periode3 in b3 %}
                    {# {% for user in user %} #}
                        <tr class="old gradex">
                        <td align="center">{{salleReserver.id}} </td>
                            <td align="center">{{salleReserver.numeroSalle}} </td>
                            <td align="center">{{salleReserver.nomSalle}}</td>
                            <td align="center">{{salleReserver.capacite}}</td>
                            <td>
                                <input type="checkbox"name="m" style="margin-right:15px" value="Matin"\>{{periode1.libelle}}
                                </br><input type="checkbox" name="m" style="margin-right:15px" value="Après-midi"\>{{periode2.libelle}}
                                </br><input type="checkbox" name="m" style="margin-right:15px" value="TPE"\>{{periode3.libelle}}
                                {# </br><input type="checkbox" name="m" style="margin-right:15px"value="1"/>{{ periode.libelle}}
                                </br><input type="checkbox" name="m" style="margin-right:15px"value="1"/>{{ periode.libelle}} #}
                            </td>
                                <td align="center" class="test">{{salleReserver.etat}}</td>
                                <td align="center" >
                                {# <a class="btn btn-primary reserver" href="" style="background-color:blue;" type="submit">Reserver</a> #}
                                {# {% if app.user and reserver.isReservedByUserSalle(app.user) %} #}
                                
                                <a class="btn btn-primary reserver" href="{{ path('app_reservation',{'id':salleReserver.id}) }}" style="background-color:blue;" type="submit"
                                    id="choixMagasin">
                                    Reserver
                                </a>
                                </br></br><a class="btn btn-primary reserver2" href="{{ path('app_reservation1',{'id':salleReserver.id}) }}"
                                type="submit"
                                 style="background-color:red;">
                                Annuler</a>
                                </td>
                                {# {% endif %} #}
                                <td align="center">
                                    <a class="btn btn-secondary" href="#">Géolocoliser</a>
                                </td>
                            
                            {#<td>{{user.accountType}}</td> #}
                            {# <td>
                                <a class="btn btn-danger" href="{{ path('modif_user',{'id':user.id}) }}" style="background-color:blue;">Modifier</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{{ path('supp_user',{'id':user.id}) }}">Supprimer</a>
                            </td> #}
                        </tr>

                    {# {% endfor %} #}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>
		
	</div>
                <!-- End small tables -->

            </div>
        </div>

    </div>



</div>
{% block footer %}
            {% endblock %}
{% endblock %}
